/* ================================================ */
/* ======== Initializing CSS ====================== */
/* ================================================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

/* ================================================ */
/* ======== Colors ================================ */
/* ================================================ */
/* Primary Color */
.p-color {
    color: #FD6E0A;
}

/* Primary Background Color */
.p-bg {
    background-color: #FD6E0A;
}

/* Secondary Background Color */
.s-bg {
    background-color: #FFF8F3;
}

/* Title Color */
.title-color {
    color: #181818;
}

/* Subtitle Color */
.stitle-color {
    color: #474747;
}

/* Description Color */
.des-color {
    color: #757575;
}

/* ================================================ */
/* ======== Header ================================ */
/* ================================================ */
.header {
    /* background-color: #FFF8F3; */
    background-image: url(./assets/images/developer.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
}

/* ======== Navigation styles ===================== */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 100px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    padding: 18px 36px;
}

.hire-me {
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
}

/* ======== Hero Section ========================== */
.banner {
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-image: url(./assets/images/header_bg.png);
    background-position: right bottom;
    background-repeat: no-repeat;
}

.banner .subtitle {
    /* color: #474747; */
    font-weight: 600;
    font-size: 45px;
    line-height: 61px;

    margin-bottom: 5px;
}

.banner .title {
    /* color: #181818; */
    font-weight: 700;
    font-size: 85px;
    line-height: 116px;
    margin-bottom: 20px;
}

.banner .description {
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

.banner .cv,
.resume-summary .cv {
    color: #ffffff;
    margin-right: 30px;
}

.banner .contact {
    border: 1px solid #FD6E0A;
}

.banner .cv,
.resume-summary .cv,
.banner .contact {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    padding: 12px 24px;
    border-radius: 5px;
}

.profile-pic {
    width: 40%;
}

/* ================================================ */
/* ======== Main ================================== */
/* ================================================ */
.main {
    /* color: #FFF8F3; */
    width: 1140px;
    margin: 130px auto;
}

/* ======== About Me ============================== */
section.about-me {
    padding: 130px 156px;
    margin-bottom: 130px;
}

section.about-me .title,
section.about-me .description {
    text-align: center;
    margin-bottom: 30px;
}

section .title {
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
}

section .description {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* color: #757575; */
}

section.about-me .infos {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section.about-me .infos .info-title,
section.about-me .infos .info-description {
    text-align: center;
}

section.about-me .infos .info-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

section.about-me .infos .info-description {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

/* ======== What I Do ============================= */
section.what-i-do {
    margin-bottom: 130px;
}

section.what-i-do .title,
section.what-i-do .description {
    text-align: center;
    margin-bottom: 30px;
}

section.what-i-do .description {
    font-size: 18px;
    padding: 0 100px 20px 100px;
}

section.what-i-do .tech {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.what-i-do .tech-list {
    padding: 0 32px;
}

section.what-i-do .tech-logo {
    width: 44px;
    margin-bottom: 30px;
}

section.what-i-do .tech-title {
    margin-bottom: 20px;
}

section.what-i-do .tech-description {
    font-size: 16px;
}

/* ======== A Summary of My Resume ================ */
section.resume-summary {
    margin-bottom: 130px;
}

/* section.resume-summary table {
    border-spacing: 60px;
} */

section.resume-summary caption {
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;

    margin-bottom: 112px;
}

section.resume-summary th {
    text-align: left;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;

    padding: 0 35px 30px 35px;
}

section.resume-summary td {
    padding: 0 35px 60px 35px;
}

section.resume-summary h3 {
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;

    margin-bottom: 10px;
}

section.resume-summary h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}

section.resume-summary p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

section.resume-summary .cv-btn-container {
    margin: 30px 0 112px;
    text-align: center;
}

/* ================================================ */
/* ======== Footer ================================ */
/* ================================================ */
.footer {
    width: 1140px;
    margin: 130px auto;
}

footer .footer-container {
    display: flex;
}

footer .connect,
footer .message {
    width: 50%;
}

footer .connect {
    padding-right: 50px;
}

footer .message {
    padding-left: 50px;
}

footer .connect h3,
footer .message h3 {
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;

    margin-bottom: 20px;
}

footer .connect p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

footer .message input {
    display: block;
    margin: 12px 0;
}

footer .message input:not(input[type="button"]) {
    width: 320px;
    padding: 8px 12px;
}

footer .message input[type="button"] {
    padding: 18px 40px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    border: none;
    border-radius: 5px;;
}